::root {
  --clr-prm-300: hsl(333, 80%, 67%);
  --clr-prm-400: hsl(300, 43%, 22%);

  --clr-scd-200: hsl(303, 10%, 53%);
  --clr-scd-100: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --fs: 0.94rem;
  --ff: League Spartan, serif;
  --fw-regular: 400;
  --fw-bold: 500;
  --fw-bolder: 700;
}
