:root {
  --fs-600: 1rem;

  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 700;

  --clr-neutral-900: hsl(300, 43%, 22%);
  --clr-neutral-700: hsl(333, 80%, 67%);
  --clr-neutral-400: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);
}

html {
  font-family: "League Spartan", serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.top-section {
  border: 2px solid blueviolet;
  justify-content: space-evenly;
  margin: 5rem 0 0 0;
}
.main-title {
  /* border: 2px solid red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-ratings {
  /* border: 2px solid green; */
  width: 40%;
}

.title {
  margin-bottom: 2rem;
  margin-right: 9rem;
  color: var(--clr-neutral-900);
}

.description {
  color: var(--clr-neutral-400);
}

.rating1,
.rating2,
.rating3 {
  width: 75%;
  background-color: var(--clr-neutral-200);
  padding: 1rem;
  margin: 2rem 0 0 0;
  border-radius: 0.625rem;
}

.rating2 {
  margin-left: 2rem;
}

.rating3 {
  margin-left: 4rem;
}

.rating_description {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
  margin-left: 1.25rem;
}

div > :nth-child(1) {
  margin-left: 0.5rem;
}
